:root{
  --black:  #171717;
  --green:  #64986a;
  --grey:   #4F4F4F;
  --white:  #FFFFFF;
  --pink:   #DDA197;
  --black2: #191919;
}


.barra_menu{
  z-index: 100;
  background-color: var(--black2);
  position: fixed;
  height: 80px;
  width: 100%;
  padding: 0%;
  margin: 0%;
  display: flex;
  align-items: center;
  display: flex;
  justify-content: space-around;

}

.barra-logo{
  width: 15%;
  padding-right: 0px;
  padding-left: 0px;

}

.body{
  margin: 0px;
  padding: 0px;
}

.barra-textos{
  display: flex;
  color: var(--grey);
  white-space: break-spaces;
}
.link{
  font-family: 'Playfair',Display;
  font-weight: bold;
  font-size: 14px;
  text-decoration: none;
  font-style: italic; cursiva
  height: inherit;
  color: var(--white);
}

.barra-textos{
    list-style: none;
}

.icons-lupa, .icons-usuario, .icons-carrito{
  width: 15px;
  margin-right:  10px;
  margin-left:  10px;
}
.barra-icons{
    padding: 10px;
}
.hero-imagen{
  padding-top: 80px;
  width: 1000px;
  display: flex;
  position: absolute;
}
.hero-texto{
  margin: 10px 0px 10px 0px;
  position: relative;
  padding-top: 200px;
  left: 650px;
}
.hero-texto h5{
  font-family: 'Roboto',sans-serif;
  font-weight: bold;
  margin: 0px 0px 0px 0px;
  font-size: 8px;
  letter-spacing: 1em;
  transform: rotate(-90deg);
  left: -90px;
  text-align: justify;
  margin-top: 77px;
  position: absolute;
}

.hero-cuadrotexto{
  border-left: 2px solid var(--grey);
  padding-left: 15px;
}

.hero-cuadrotexto h3{
  margin: 0px 0px 0px 0px;
  font-family: 'Playfair',Display;
  font-weight: bold;
  font-size: 24px;
  text-decoration: none;
  font-style: italic;
}

.hero-cuadrotexto h1{
  margin: 0px 0px 0px 0px;
  font-family: 'Roboto',sans-serif;
  font-weight: bold;
  font-size: 60px;
}
.shop_now{
  margin: 20px;
  border-width: 0px;
  font-family: 'Playfair',Display;
  padding: 8px 20px;
  border-radius: 15px;
  background-color: black;
  color: white;
  font-style: italic;
}


.hero{
    height: 525px;
    background-color: var(--pink);
    display: flex;
}

.contenedor-1{
  padding-top: 80px;
  padding-left: 200px;
  padding-right: 200px;
  display: flex;
  position: absolute;
}
.creams-texto{
   padding-top: 55px;
   padding-right: 40px;
    width: 170px;
}
.creams-texto h1, h2,h3,h4,h5{
  margin: 0px 0px 0px 0px;
}
.creams-texto h1{
  font-family: 'Playfair',Display;
  font-weight: bold;
  text-decoration: none;
  font-style: italic;
  font-size: 50px;
}

.creams-texto h5{
    font-family: 'Playfair',Display;
    font-size: 14px;
}

.creams-oferta-imagen{
  width: 200px;
}

.shop_now-creams{
  margin-top: 20px;
  border-width: 0px;
  font-family: 'Playfair',Display;
  padding: 8px 20px;
  border-radius: 15px;
  background-color: black;
  color: white;
  font-style: italic;
}
.creams-producto-1{
  padding-top: 70px;
  padding-left: 30px;
}
.creams-producto-2{
  margin: 0px;
  padding-top: 325px;
  padding-left: 380px;;
  position: relative;
}
.creams-oferta-producto2{
      width: 230px;
}
.creams-oferta-producto1{
  width: 300px;
}
.Creams{

}
